asgiref==3.9.1
black==25.1.0
click==8.2.1
django==5.2.6
djangorestframework==3.16.1
mypy-extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.4.0
sqlparse==0.5.3
pillow==11.3.0
python-dotenv==1.1.1
requests==2.32.5
paho-mqtt==2.1.0
django-cors-headers==4.8.0
whitenoise==6.10.0
antiorm==1.2.1
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.5
db==0.1.1
db-sqlite3==0.0.1
dj-database-url==3.0.1
django-environ==0.12.0
django-filter==25.1
djangorestframework-simplejwt==5.5.0
dotenv==0.9.9
gunicorn==23.0.0
idna==3.10
pip==25.1.1
psycopg==3.2.9
psycopg2-binary==2.9.10
pycparser==2.22
pyjwt==2.9.0
python-decouple==3.8
schema==0.7.7
setuptools==65.5.0
tenacity==9.1.2
typing-extensions==4.14.0
urllib3==2.5.0
